@import './variables.scss';
.adcard{
    margin: 40px 10px;
    height: 400px;
    width: 350px;
@include glass-effect;
display: flex;
flex-direction: column;
justify-content: flex-start !important;
border: 1px solid $secondary-color;
}
.adcardwrapper{
    display: flex;
    justify-content: center;
}
.adname{
   font-size: 22px;
   color: $primary-color;
   padding: 10px 0 0 0;
}
.add{
    font-size: 14px;
    color: white;
    padding-bottom: 10px;
}
.adimage{
    max-height: 220px !important;
    margin-top: 5px;
}
.custad{
  font-size: 16px;
  padding: 5px 10px;
  color: white;
}
@media (max-width:834px){
    .adcard{
        width: 340px !important;
        margin: 40px 0;
    }
}
@media (max-width:576px){
    .adcard{
        width: 150px;
        height: 290px;
        margin: 40px 0;
    }
    .adimage{
        width: 100px !important;
        height: 100px ;
    }
}

.adheadline{
    font-size: 28px;
    font-style: 'Roboto';
    color: $secondary-color;
    font-weight: bold;
    text-decoration: $secondary-color underline;
    padding-top: 8px;
    -webkit-text-stroke: 2px  black;
}
.addetail{
    font-size: 18px;
    padding: 7px 0;
    color: black;
}
.addescription{
    padding: 5px 0;
    font-size: 16px;
    color: white;
}