@import './variables.scss';

.analyticspage{
   @include center-flexbox;
}
.analyticscontainer{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    @media (max-width:$tablet-screen){
        justify-content: start;
        align-items: center;
    }
}