@import './variables.scss';
.mymediacontainer {
    overflow-y: auto;
    max-height: 80vh;
    width: 80%;
    padding: 30px 0;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .mymediacontainer::-webkit-scrollbar {
    width: 8px; 
  }
  
  .mymediacontainer::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .mymediacontainer {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .contentcreatordashboard{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mymediaheading{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Roboto';
    font-size: 28px;
    padding: 10px 0 30px 0;

  }
 .mymediabtndiv{
    display: flex;
    justify-content: end;
 }
.adcarousel{
   width: 80%;
}

.customnextarrow,.customprevarrow{
    color: white;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.clientdashboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.featuredads{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    font-size: 32px;
    font-family: 'Roboto';
    color:white;
    font-weight: bold;
    -webkit-text-stroke: 1px  $secondary-color;
  }
  .adcarouseldiv{
    width:'100%';
    display: flex;
    justify-content: center;
  }
 .advertiserdashboardlist{
  height: 70vh !important;
  overflow-y: auto;
 }
 .advertiserdashboard{
   display: flex;
   justify-content: center;
   align-items: center;
   scrollbar-width: thin;
   scrollbar-color: transparent transparent;
   scrollbar-width: thin;
   scrollbar-color: transparent transparent;
   width: 100%;
 }
 .advertiserdashboardcomp{
  width: 80%;
 }
 .advertiserdashboardheadingdiv{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
 }
 .advertiserdashboardheading{
  font-size: large;
  font-family: 'Roboto';
  color: $secondary-color;
  font-weight: bold;
 }
 .advertiserdashboardlist{
  width: 100%;
 }
 .advertiserdashboardlistitem{
  width: 100%;
}
 .advertiserdashboardlistcard{
  width: 80%;
  box-shadow: rgba(115 , 54 , 254, 0.25) 0px 54px 55px, rgba(115 , 54 , 254, 0.12) 0px -12px 30px, rgba(115 , 54 , 254, 0.12) 0px 4px 6px, rgba(115 , 54 , 254, 0.17) 0px 12px 13px, rgba(115 , 54 , 254, 0.09) 0px -3px 5px;
background: rgba(255, 255, 255, 0.2) !important;
border-radius: 16px;
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3); 
}
 .adactionbtns{
  width: 100%;
  display: flex ;
  align-items: end;
  justify-content: end ;
  padding: 10px 0;
 }
 .advertiseradsmediadiv{
  background-color: green;
 }
 .postadbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $secondary-color; 
}
.admindashboard{
  display: flex;
  justify-content: center;
}
.admindashboardcomponent{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.admindashboardheading{
  display: flex;
  justify-content: center;
  font-size: 46px;
  font-family: 'Roboto';
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 1px  $secondary-color;
  padding: 40px 0;
}
.admindashboardformitem{
  width: 100%;
  padding: 20px 0;
}
.admindashboardform{
  display: flex;
  justify-content: center;
  width: 60%;
  flex-direction: column;
}
.admindashboardsubmitbtndiv{
  display: flex;
  justify-content: center;
}
.admindashboardsubmitbtn{
  width: 120px;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  align-items: center;
  background-color: $secondary-color;
  border-radius: 18px;
  border: 1px solid white;
  color: white;
  font-weight: 400;
}