@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  margin: 0;
  padding: 0;
  background-color: #c3c5cd;
}

.slick-slide div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-active  button{
  background: #61638a;
}
.ant-tooltip-inner {
  color: black !important;
  background-color: white !important;
  border: 2px solid #7336fe;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow, .ant-tooltip-placement-bottomLeft .ant-tooltip-arrow, .ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-bottom-color: white !important;
}
.ant-list-item{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}