@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root{
  margin: 0;
  padding: 0;
  background-color: black;
}

.slick-slide div{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-active  button{
  background: #61638a;
}
.ant-tooltip-inner {
  color: black !important;
  background-color: white !important;
  border: 2px solid #7336fe;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow, .ant-tooltip-placement-bottomLeft .ant-tooltip-arrow, .ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-bottom-color: white !important;
}
.ant-list-item{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ant-card-body{
  padding: 0 !important;
}
.ant-spin-nested-loading , .ant-spin-container{
  width:100% !important;
}
.ant-list-items{
  width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.ant-list-items .card{
  
width: 100% !important;
}
.postadformitem
  .ant-form-item-required{
    color: white !important;
  }